/target
**/*.rs.bk



# Prevent generated and test files from being committed
setup.py
requirements.txt
Pipfile
pypackage.lock
pyproject.toml
/__pypackages__
script.py
*.egg-info/
*.wheel
build/
dist/

